<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-img" class="navbar-left logo-text" href="#"><img class="logo" src="static/img/logo.png">ROGER</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index">Домой</a></li>
                <li><a href="#info">Про нас</a></li>
                <li><a href="#dg">Работы</a></li>
                <li><a href="gallery">Галерея</a></li>
                <li><a href="news">Новости</a></li>
                <li><a href="mailto: KPryshchepava@gomel.iba.by"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="myNav" class="overlay">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a>E-mail: IT_company@gmail.com</a>
        <a>Phone number: +375(44)569-13-89</a>
        <a>Adress: Wall Street 23</a>
    </div>
</div>

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bootstrap is awesome!</h1>
                <h2>Сайты на Bootstrap отличные</h2>
            </div>
        </div>
    </div>
</div>
<div id="info" class="container w">
    <div class="row centered">
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Выгоды</h3>
            <p>Наша главная цель — обеспечивать высочайшее качество предоствляемых услуг на рынке, используя только прогрессивные технологии и методологии веб разработки.</p>
            <br><br><br>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-heart"></i>
            <h4>Полный цикл разработки</h4>
            <p>Вы получаете весь спектр услуг в одном месте: от консалтинга до тестирования и дальнейшего продвижения</p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-laptop"></i>
            <h4>Техническая поддержка</h4>
            <p>Оказываем услуги поддержки и продвижения на протяжении всего жизненного цикла проекта</p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-trophy"></i>
            <h4>Обслуживание и гарантии</h4>
            <p>Полное гарантийное обслуживание Вашего проекта на протяжение 6 месяцев</p>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="wid">
                    <h4>Last News</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="dg">
        <div class="container">
            <div class="row centered">
                <h4>Последние работы</h4>
                <br>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="static/img/i1.png" alt=""</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="static/img/i2.png" alt=""</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="static/img/i3.png" alt=""</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row centered">
        <br><br>
        <div class="col-lg-6 col-lg-offset-3">
            <h4>ТЕХНОЛОГИИ</h4>
            <p>Безостановочно повышаем уровень экспертности нашей команды, следим за трендами и стандартами качества. Наши работы неоднократно становились призерами и номинантами международных конкурсов веб дизайна. Мы знаем как стимулировать правильные эмоции и доверие Ваших клиентов.</p>
            <p><br><br></p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-lg-offset-1">
            <img src="static/img/munter.png" alt="" class="img-responsive">
        </div>
    </div>
</div>
<div id="lg">
    <div class="container">
        <div class="row centered">
            <h4>Партнеры</h4>
            <div class="col-lg-2 col-lg-offset-1">
                <img src="static/img/c01.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c02.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c03.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c04.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c05.gif" alt="">
            </div>
        </div>
    </div>
</div>
<div id="r">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Разработка сайтов на профессиональном уровне</h4>
                <br>
                <h4 onclick="openNav()">Наши контакты</h4>
            </div>
        </div>
    </div>
</div>
<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-vk"></i></a>
        </div>
    </div>
</div>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/nav.js"></script>
</body>
</html>