<!DOCTYPE html>
<html>
<head>
    <% include parts/head %>
</head>
<body>

<%- include("parts/header", {selectedTab: "index"}) %>

<% include parts/contacts %>

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bootstrap is awesome!</h1>
                <h2>Сайты на Bootstrap отличные</h2>
                <br>
                <h2>Добро пожаловать, <%= user %>!</h2>
            </div>
        </div>
    </div>
</div>
<div id="info" class="container w">
    <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
            
            <h2>Выгоды</h2>
            <p>Наша главная цель — обеспечивать высочайшее качество предоствляемых услуг на рынке, используя только прогрессивные технологии и методологии веб разработки.</p>
            <br><br><br>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-heart"></i>
            <h4>Полный цикл разработки</h4>
            <p>Вы получаете весь спектр услуг в одном месте: от консалтинга до тестирования и дальнейшего продвижения</p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-laptop"></i>
            <h4>Техническая поддержка</h4>
            <p>Оказываем услуги поддержки и продвижения на протяжении всего жизненного цикла проекта</p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-trophy"></i>
            <h4>Обслуживание и гарантии</h4>
            <p>Полное гарантийное обслуживание Вашего проекта на протяжение 6 месяцев</p>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="wid">
                    <h4>Last News</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="work">
        <div class="container">
            <div class="row centered">
                <h4>Последние работы</h4>
                <br>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="static/img/i1.png" alt=""</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="static/img/i2.png" alt=""</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="static/img/i3.png" alt=""</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row centered">
        <br><br>
        <div class="col-lg-6 col-lg-offset-3">
            <h4>ТЕХНОЛОГИИ</h4>
            <p>Безостановочно повышаем уровень экспертности нашей команды, следим за трендами и стандартами качества. Наши работы неоднократно становились призерами и номинантами международных конкурсов веб дизайна. Мы знаем как стимулировать правильные эмоции и доверие Ваших клиентов.</p>
            <p><br><br></p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-lg-offset-1">
            <img src="static/img/munter.png" alt="" class="img-responsive">
        </div>
    </div>
</div>

<% include parts/footer %>

<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/nav.js"></script>
</body>
</html>