<!DOCTYPE html>
<html>
<head>
    <% include parts/head %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-img" class="navbar-left logo-text"><img class="logo" src="static/img/logo.png">ROGER</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="registry">Регистрация</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="centered">
            <h3>Вход!</h3>
            <form class="login" method="post" id="logform" name="login">
                <div id="fail"></div>
                <input class="form-control usern" name="username" placeholder="E-mail" required autocomplete="off">
                <input class="form-control userp" name="userpass" type="password" placeholder="Пароль" required autocomplete="off">
                <button type="submit" class="btn btn_lgn">Войти</button>
            </form>
        </div>
    </div>
</div>
<script src="js/jquery/jquery.min.js"></script>
<script>
    $("form").submit(function(err) {
             
             err.preventDefault();
             var Form = document.forms["login"];
             var username = Form.elements["username"].value;
             var userpass = Form.elements["userpass"].value;
              
             $.ajax({
                 type: "POST",
                 url: "/log",
                 data: JSON.stringify({name: username, password: userpass}),
                 dataType: "text",
                 contentType: "application/json",
                 success: function fh() {
                     //alert("sgsdfgd");
                     window.location = "/index";
                 },
                 error: function fail(){
                    //alert('error!');
                    var fail = document.createElement("div");
                    fail.className = "alert alert-danger";
                    fail.innerHTML = "Invalid login or password.";
                    document.getElementById("logform").replaceChild(fail, document.getElementById("fail"));
                    //document.getElementById("fail").appendChild(fail);
                    }
                 });
         });
</script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>