<!DOCTYPE html>
<html>
<head>
    <% include parts/head %>
</head>
<body>
        
<%- include("parts/header", {selectedTab: "news"}) %>
        
<% include parts/contacts %>

<div class="news">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-6">
                <div class="feedgrabbr_widget" id="fgid_a9120b23a95b15768fad0ab2e"></div>
                <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_a9120b23a95b15768fad0ab2e");</script>
                <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
            </div>
            <div class="col-lg-6">
                <a class="weatherwidget-io" href="https://forecast7.com/en/52d4430d99/gomel/" data-label_1="GOMEL" data-label_2="WEATHER" data-theme="original" >GOMEL WEATHER</a>
                <script>
                    !function(d,s,id){
                        var js,fjs=d.getElementsByTagName(s)[0];
                        if(!d.getElementById(id)){
                            js=d.createElement(s);
                            js.id=id;
                            js.src="https://weatherwidget.io/js/widget.min.js";
                            fjs.parentNode.insertBefore(js,fjs);
                        }
                    }(document,"script","weatherwidget-io-js");
                </script>
                <div id="parent">
                    <div id="weather">
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include parts/footer %>

<script src="js/jquery/jquery.min.js"></script>
<script src="static/js/jquery.simpleWeather.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/nav.js"></script>
<script src="static/js/weather.js"></script>
<script src="static/js/weather2.js"></script>
</body>
</html>