<!DOCTYPE html>
<html>
<head>
    <% include parts/head %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a id="logo-img" class="navbar-left logo-text"><img class="logo" src="static/img/logo.png">ROGER</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="centered">
            <h3>Регистрация</h3>
            <form class="registr" method="post" id="regform" name="reg">
                <div id="fail"></div>
                <input class="form-control" name="user" placeholder="Имя" required autocomplete="off">
                <input class="form-control" name="email" placeholder="E-Mail" required autocomplete="off">
                <input class="form-control" name="password" type="password" placeholder="Пароль" required autocomplete="off">
                <input class="form-control" name="country" placeholder="Страна" autocomplete="off">
                <input type="submit" id="button" class="btn btn_rgstr" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</div>
<script src="js/jquery/jquery.min.js"></script>
<script>
    $("form").submit(function(err) {
             
             err.preventDefault();
             var Form = document.forms["reg"];
             var name = Form.elements["user"].value;
             var mail = Form.elements["email"].value;
             var pass = Form.elements["password"].value;
             var country = Form.elements["country"].value;
              
             $.ajax({
                 type: "POST",
                 url: "/registr",
                 data: JSON.stringify({_id: mail, name: name, mail: mail, password: pass, country : country}),
                 dataType: "text",
                 contentType: "application/json",
                 success: function(){ 
                     window.location = '/login';
                     },
                 error: function(){
                    var fail = document.createElement("div");
                    fail.className = "alert alert-danger";
                    fail.innerHTML = "This email is already used.";
                    document.getElementById("regform").replaceChild(fail, document.getElementById("fail"));
                 }
            });
         });
</script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>