<div id="myNav" class="overlay">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a>E-mail: IT_company@gmail.com</a>
        <a>Phone number: +375(44)569-13-89</a>
        <a>Adress: Wall Street 23</a>
    </div>
</div>