<div id="lg">
    <div class="container">
        <div class="row centered">
            <h4>Партнеры</h4>
            <div class="col-lg-2 col-lg-offset-1">
                <img src="static/img/c01.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c02.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c03.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c04.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="static/img/c05.gif" alt="">
            </div>
        </div>
    </div>
</div>
<div id="r">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Разработка сайтов на профессиональном уровне</h4>
                <br>
                <h4 onclick="openNav()">Наши контакты</h4>
            </div>
        </div>
    </div>
</div>
<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-vk"></i></a>
        </div>
    </div>
</div>